<style>
  .dataframe{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  table {
    border: none;
  }
  th{
    font-size: 30px;
  }
</style>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>Title</th>
      <th>Genres</th>
      <th>Director</th>
      <th>Cast</th>
      <th>Revenue</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The Shawshank Redemption</td>
      <td>[Drama, Crime]</td>
      <td>Frank Darabont</td>
      <td>[Tim Robbins, Morgan Freeman, Bob Gunton]</td>
      <td>28341469</td>
      <td>142.0</td>
    </tr>
    <tr>
      <td>Fight Club</td>
      <td>[Drama]</td>
      <td>David Fincher</td>
      <td>[Edward Norton, Brad Pitt, Meat Loaf]</td>
      <td>100853753</td>
      <td>139.0</td>
    </tr>
    <tr>
      <td>The Godfather</td>
      <td>[Drama, Crime]</td>
      <td>Francis Ford Coppola</td>
      <td>[Marlon Brando, Al Pacino, James Caan]</td>
      <td>245066411</td>
      <td>175.0</td>
    </tr>
    <tr>
      <td>Pulp Fiction</td>
      <td>[Thriller, Crime]</td>
      <td>Quentin Tarantino</td>
      <td>[John Travolta, Samuel L. Jackson, Uma Thurman]</td>
      <td>213928762</td>
      <td>154.0</td>
    </tr>
    <tr>
      <td>The Dark Knight</td>
      <td>[Drama, Action, Crime]</td>
      <td>Christopher Nolan</td>
      <td>[Christian Bale, Heath Ledger, Aaron Eckhart]</td>
      <td>1004558444</td>
      <td>152.0</td>
    </tr>
    <tr>
      <td>Forrest Gump</td>
      <td>[Comedy, Drama, Romance]</td>
      <td>Robert Zemeckis</td>
      <td>[Tom Hanks, Robin Wright, Gary Sinise]</td>
      <td>677945399</td>
      <td>142.0</td>
    </tr>
    <tr>
      <td>Inception</td>
      <td>[Action, Thriller, Science Fiction]</td>
      <td>Christopher Nolan</td>
      <td>[Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen Page]</td>
      <td>825532764</td>
      <td>148.0</td>
    </tr>
    <tr>
      <td>Interstellar</td>
      <td>[Adventure, Drama, Science Fiction]</td>
      <td>Christopher Nolan</td>
      <td>[Matthew McConaughey, Jessica Chastain, Anne Hathaway]</td>
      <td>675120017</td>
      <td>169.0</td>
    </tr>
    <tr>
      <td>The Empire Strikes Back</td>
      <td>[Adventure, Action, Science Fiction]</td>
      <td>Irvin Kershner</td>
      <td>[Mark Hamill, Harrison Ford, Carrie Fisher]</td>
      <td>538400000</td>
      <td>124.0</td>
    </tr>
    <tr>
      <td>Schindler's List</td>
      <td>[Drama, History, War]</td>
      <td>Steven Spielberg</td>
      <td>[Liam Neeson, Ben Kingsley, Ralph Fiennes]</td>
      <td>321365567</td>
      <td>195.0</td>
    </tr>
    <tr>
      <td>Whiplash</td>
      <td>[Drama]</td>
      <td>Damien Chazelle</td>
      <td>[Miles Teller, J.K. Simmons, Melissa Benoist]</td>
      <td>13092000</td>
      <td>105.0</td>
    </tr>
    <tr>
      <td>The Lord of the Rings: The Return of the King</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>Peter Jackson</td>
      <td>[Elijah Wood, Ian McKellen, Viggo Mortensen]</td>
      <td>1118888979</td>
      <td>201.0</td>
    </tr>
    <tr>
      <td>Spirited Away</td>
      <td>[Fantasy, Adventure, Animation]</td>
      <td>Hayao Miyazaki</td>
      <td>[Rumi Hiiragi, Miyu Irino, Mari Natsuki]</td>
      <td>274925095</td>
      <td>125.0</td>
    </tr>
    <tr>
      <td>Star Wars</td>
      <td>[Adventure, Action, Science Fiction]</td>
      <td>George Lucas</td>
      <td>[Mark Hamill, Harrison Ford, Carrie Fisher]</td>
      <td>775398007</td>
      <td>121.0</td>
    </tr>
    <tr>
      <td>Se7en</td>
      <td>[Crime, Mystery, Thriller]</td>
      <td>David Fincher</td>
      <td>[Brad Pitt, Morgan Freeman, Gwyneth Paltrow]</td>
      <td>327311859</td>
      <td>127.0</td>
    </tr>
    <tr>
      <td>The Lord of the Rings: The Fellowship of the Ring</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>Peter Jackson</td>
      <td>[Elijah Wood, Ian McKellen, Cate Blanchett]</td>
      <td>871368364</td>
      <td>178.0</td>
    </tr>
    <tr>
      <td>The Godfather: Part II</td>
      <td>[Drama, Crime]</td>
      <td>Francis Ford Coppola</td>
      <td>[Al Pacino, Robert Duvall, Diane Keaton]</td>
      <td>47542841</td>
      <td>200.0</td>
    </tr>
    <tr>
      <td>The Green Mile</td>
      <td>[Fantasy, Drama, Crime]</td>
      <td>Frank Darabont</td>
      <td>[Tom Hanks, Michael Clarke Duncan, David Morse]</td>
      <td>284600000</td>
      <td>189.0</td>
    </tr>
    <tr>
      <td>The Lord of the Rings: The Two Towers</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>Peter Jackson</td>
      <td>[Elijah Wood, Ian McKellen, Viggo Mortensen]</td>
      <td>926287400</td>
      <td>179.0</td>
    </tr>
    <tr>
      <td>Inside Out</td>
      <td>[Drama, Comedy, Animation]</td>
      <td>Pete Docter</td>
      <td>[Amy Poehler, Phyllis Smith, Richard Kind]</td>
      <td>857611174</td>
      <td>94.0</td>
    </tr>
    <tr>
      <td>The Silence of the Lambs</td>
      <td>[Crime, Drama, Thriller]</td>
      <td>Jonathan Demme</td>
      <td>[Jodie Foster, Anthony Hopkins, Scott Glenn]</td>
      <td>272742922</td>
      <td>119.0</td>
    </tr>
    <tr>
      <td>Back to the Future</td>
      <td>[Adventure, Comedy, Science Fiction]</td>
      <td>Robert Zemeckis</td>
      <td>[Michael J. Fox, Christopher Lloyd, Lea Thompson]</td>
      <td>381109762</td>
      <td>116.0</td>
    </tr>
    <tr>
      <td>Guardians of the Galaxy</td>
      <td>[Action, Science Fiction, Adventure]</td>
      <td>James Gunn</td>
      <td>[Chris Pratt, Zoe Saldana, Dave Bautista]</td>
      <td>773328629</td>
      <td>121.0</td>
    </tr>
    <tr>
      <td>The Imitation Game</td>
      <td>[History, Drama, Thriller]</td>
      <td>Morten Tyldum</td>
      <td>[Benedict Cumberbatch, Keira Knightley, Matthew Goode]</td>
      <td>233555708</td>
      <td>113.0</td>
    </tr>
    <tr>
      <td>The Matrix</td>
      <td>[Action, Science Fiction]</td>
      <td>Lilly Wachowski</td>
      <td>[Keanu Reeves, Laurence Fishburne, Carrie-Anne Moss]</td>
      <td>463517383</td>
      <td>136.0</td>
    </tr>
  </tbody>
</table>