<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Title</th>
      <th>Genres</th>
      <th>Director</th>
      <th>Cast</th>
      <th>Revenue</th>
      <th>Runtime</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Minions</td>
      <td>[Family, Animation, Adventure]</td>
      <td>Kyle Balda</td>
      <td>[Sandra Bullock, Jon Hamm, Michael Keaton]</td>
      <td>1156730962</td>
      <td>91.0</td>
    </tr>
    <tr>
      <td>Interstellar</td>
      <td>[Adventure, Drama, Science Fiction]</td>
      <td>Christopher Nolan</td>
      <td>[Matthew McConaughey, Jessica Chastain, Anne Hathaway]</td>
      <td>675120017</td>
      <td>169.0</td>
    </tr>
    <tr>
      <td>Deadpool</td>
      <td>[Action, Adventure, Comedy]</td>
      <td>Tim Miller</td>
      <td>[Ryan Reynolds, Morena Baccarin, Ed Skrein]</td>
      <td>783112979</td>
      <td>108.0</td>
    </tr>
    <tr>
      <td>Guardians of the Galaxy</td>
      <td>[Action, Science Fiction, Adventure]</td>
      <td>James Gunn</td>
      <td>[Chris Pratt, Zoe Saldana, Dave Bautista]</td>
      <td>773328629</td>
      <td>121.0</td>
    </tr>
    <tr>
      <td>Mad Max: Fury Road</td>
      <td>[Action, Adventure, Science Fiction]</td>
      <td>George Miller</td>
      <td>[Tom Hardy, Charlize Theron, Nicholas Hoult]</td>
      <td>378858340</td>
      <td>120.0</td>
    </tr>
    <tr>
      <td>Jurassic World</td>
      <td>[Action, Adventure, Science Fiction]</td>
      <td>Colin Trevorrow</td>
      <td>[Chris Pratt, Bryce Dallas Howard, Irrfan Khan]</td>
      <td>1513528810</td>
      <td>124.0</td>
    </tr>
    <tr>
      <td>Pirates of the Caribbean: The Curse of the Black Pearl</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>Gore Verbinski</td>
      <td>[Johnny Depp, Geoffrey Rush, Orlando Bloom]</td>
      <td>655011224</td>
      <td>143.0</td>
    </tr>
    <tr>
      <td>Dawn of the Planet of the Apes</td>
      <td>[Science Fiction, Action, Drama]</td>
      <td>Matt Reeves</td>
      <td>[Andy Serkis, Jason Clarke, Gary Oldman]</td>
      <td>710644566</td>
      <td>130.0</td>
    </tr>
    <tr>
      <td>The Hunger Games: Mockingjay - Part 1</td>
      <td>[Science Fiction, Adventure, Thriller]</td>
      <td>Francis Lawrence</td>
      <td>[Jennifer Lawrence, Josh Hutcherson, Liam Hemsworth]</td>
      <td>752100229</td>
      <td>123.0</td>
    </tr>
    <tr>
      <td>Big Hero 6</td>
      <td>[Adventure, Family, Animation]</td>
      <td>Chris Williams</td>
      <td>[Scott Adsit, Ryan Potter, Daniel Henney]</td>
      <td>652105443</td>
      <td>102.0</td>
    </tr>
    <tr>
      <td>Terminator Genisys</td>
      <td>[Science Fiction, Action, Thriller]</td>
      <td>Alan Taylor</td>
      <td>[Arnold Schwarzenegger, Jason Clarke, Emilia Clarke]</td>
      <td>440603537</td>
      <td>126.0</td>
    </tr>
    <tr>
      <td>Captain America: Civil War</td>
      <td>[Adventure, Action, Science Fiction]</td>
      <td>Anthony Russo</td>
      <td>[Chris Evans, Robert Downey Jr., Scarlett Johansson]</td>
      <td>1153304495</td>
      <td>147.0</td>
    </tr>
    <tr>
      <td>Whiplash</td>
      <td>[Drama]</td>
      <td>Damien Chazelle</td>
      <td>[Miles Teller, J.K. Simmons, Melissa Benoist]</td>
      <td>13092000</td>
      <td>105.0</td>
    </tr>
    <tr>
      <td>The Dark Knight</td>
      <td>[Drama, Action, Crime]</td>
      <td>Christopher Nolan</td>
      <td>[Christian Bale, Heath Ledger, Aaron Eckhart]</td>
      <td>1004558444</td>
      <td>152.0</td>
    </tr>
    <tr>
      <td>The Martian</td>
      <td>[Drama, Adventure, Science Fiction]</td>
      <td>Ridley Scott</td>
      <td>[Matt Damon, Jessica Chastain, Kristen Wiig]</td>
      <td>630161890</td>
      <td>141.0</td>
    </tr>
    <tr>
      <td>Inception</td>
      <td>[Action, Thriller, Science Fiction]</td>
      <td>Christopher Nolan</td>
      <td>[Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen Page]</td>
      <td>825532764</td>
      <td>148.0</td>
    </tr>
    <tr>
      <td>Frozen</td>
      <td>[Animation, Adventure, Family]</td>
      <td>Chris Buck</td>
      <td>[Kristen Bell, Idina Menzel, Jonathan Groff]</td>
      <td>1274219009</td>
      <td>102.0</td>
    </tr>
    <tr>
      <td>Batman v Superman: Dawn of Justice</td>
      <td>[Action, Adventure, Fantasy]</td>
      <td>Zack Snyder</td>
      <td>[Ben Affleck, Henry Cavill, Gal Gadot]</td>
      <td>873260194</td>
      <td>151.0</td>
    </tr>
    <tr>
      <td>Avatar</td>
      <td>[Action, Adventure, Fantasy]</td>
      <td>James Cameron</td>
      <td>[Sam Worthington, Zoe Saldana, Sigourney Weaver]</td>
      <td>2787965087</td>
      <td>162.0</td>
    </tr>
    <tr>
      <td>Fight Club</td>
      <td>[Drama]</td>
      <td>David Fincher</td>
      <td>[Edward Norton, Brad Pitt, Meat Loaf]</td>
      <td>100853753</td>
      <td>139.0</td>
    </tr>
    <tr>
      <td>Pirates of the Caribbean: Dead Man's Chest</td>
      <td>[Adventure, Fantasy, Action]</td>
      <td>Gore Verbinski</td>
      <td>[Johnny Depp, Orlando Bloom, Keira Knightley]</td>
      <td>1065659812</td>
      <td>151.0</td>
    </tr>
    <tr>
      <td>The Imitation Game</td>
      <td>[History, Drama, Thriller]</td>
      <td>Morten Tyldum</td>
      <td>[Benedict Cumberbatch, Keira Knightley, Matthew Goode]</td>
      <td>233555708</td>
      <td>113.0</td>
    </tr>
    <tr>
      <td>The Avengers</td>
      <td>[Science Fiction, Action, Adventure]</td>
      <td>Joss Whedon</td>
      <td>[Robert Downey Jr., Chris Evans, Mark Ruffalo]</td>
      <td>1519557910</td>
      <td>143.0</td>
    </tr>
    <tr>
      <td>The Godfather</td>
      <td>[Drama, Crime]</td>
      <td>Francis Ford Coppola</td>
      <td>[Marlon Brando, Al Pacino, James Caan]</td>
      <td>245066411</td>
      <td>175.0</td>
    </tr>
    <tr>
      <td>Teenage Mutant Ninja Turtles</td>
      <td>[Science Fiction, Action, Adventure]</td>
      <td>Jonathan Liebesman</td>
      <td>[Megan Fox, Will Arnett, William Fichtner]</td>
      <td>477200000</td>
      <td>101.0</td>
    </tr>
  </tbody>
</table>